.menu {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px 20px 4px 4px;
  box-sizing: border-box;
}

.item {
  cursor: pointer;
  width: max-content;
}

.item:hover {
  background-color: steelblue;
  color: white;
}

.active {
  background-color: lightsteelblue;
}
